{% block header %}
<header class="main-header">
  <a href="index2.html" class="logo">
    <span class="logo-mini"><b>Epi</b>R</span>
    <span class="logo-lg"><b>Epi</b>Rooms</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/file/img/gberdeaux.png" class="user-image" alt="User Image">
            <span class="hidden-xs">Guillaume Berdeaux</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="/file/img/gberdeaux.png" class="img-circle">
              <p>Guillaume Berdeaux</p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Se déconnecter</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}
