{% block sdebar %}
<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/file/img/gberdeaux.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Guillaume Berdeaux</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
      </div>
    </form>
    <ul class="sidebar-menu" data-widget="tree">
    <li><a href="/admin/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class="header">Planning</li>
      <li><a href="/admin/planning"><i class="fa fa-calendar"></i> <span>Planning</span></a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-calendar-plus-o"></i> <span>Reserver</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          {% for room in rooms %}
          <li><a href="/admin/rooms/{{ room.id }}"><i class="fa fa-circle text-{{ room.state }}"></i> {{ room.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/admin/getplanning"><i class="fa fa-refresh"></i> <span>Synchronisation</span></a></li>
      <li class="header">Utilisateurs</li>
      <li><a href="/admin/users"><i class="fa fa-list"></i> <span>Liste des utilisateurs</span></a></li>
      <li class="header">Serveur</li>
      <li><a href="/admin/logs"><i class="fa fa-archive"></i> <span>Logs</span></a></li>
      <li><a href="#"><i class="fa fa-terminal"></i> <span>Console</span></a></li>
    </ul>
  </section>
</aside>
<script>
  window.onload = function() {
    $(".sidebar-menu a[href='" + document.location.pathname + "']").parent().attr('class', "active")
  }
</script>
{% endblock %}
